//========COLORS=============//

$mainBgColor:#F0F0F0;
$sideNavBgColor:linear-gradient(#B06C83, rgb(219, 114, 128));
$sidenavColor:#B06C83;
$sidenav2Color:#CE7081;
$h2Color: #FFAA5D;
$btnColor: #695C7A;
$sidenavActive: #FDC70C;
$sidenavGradient: linear-gradient(#DB7280, #B06C83);
$sidenavHover: #ffcb9b;
$activeTextColor: #465B7A;
$white: #ffffff;
$black: #000000;